<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<h1></h1>
<div th:each="person :${people}">
    <a th:href="@{/people/person/{id}(id=${person.getId()})}">
        <span th:text="${person.getId()}"></span>
    </a>
    <span th:text="${person.getName()}"></span>
    <span th:text="${person.getSurname()}"></span>
    <span th:text="${person.getEmail()}"></span>

    <a th:href="@{/people/update/{id}(id=${person.getId()})}">Update</a>
    <form th:method="DELETE" th:action="@{/people/delete/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>